
html, body {
}

body {
	position: relative;
	height: 100%;
}

a {
}

a:visited {
}

header a, footer a {
}

header a:visited, footer a:visited {
}

header {
	position: relative;
}

header .logo-wrap a {
	text-decoration: none;
}

header .logo-wrap h1 {
	display: inline;
}

header .header-secondary {
	position: absolute;
	margin: 1em 0;
	top: 0;
	right: 0;
}

header ul.header-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header ul.header-links li {
	display: inline;
	margin: 0;
	padding: 0;
}

header .header-links .header-icon {
	height: 32px;
}

header, footer, .wrap {
	width: 90%;
	max-width: 940px;
	margin: 0 auto;
	border: 0;
}

.wrap-outer {
	margin: 0;
}

.wrap-outer-0 {
}

.wrap-outer-1, .wrap-outer-2, .wrap-outer-3 {
}

.wrap-outer-1 {
}

.wrap-outer-2 {
}

#wrap-outer-footer {
	min-height: 5em;
}

.wrap {
	padding: 1em 0;
}
.wrap h2 {
	margin-top: 0;
}

.technology-list li {
	width: 35%;
	float: left;
}

/*
.slideshow-wrap,
.slideshow,
.slideshow > * {
	width: 100%;
}

.slideshow {
	height: 200px;
}

.slideshow > * {
	height: 100%;
}

.slideshow {
	border: 1px solid black;
}
*/

/************************
 * Sample work lideshow *
 ************************/

/*
.slideshow-wrap {
	width: 100%;
	position: relative;
	z-index: 5;
}

.slideshow-wrap .slideshow-prev,
.slideshow-wrap .slideshow-next {
	display: block;
	margin: 0;
	vertical-align: middle;
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
	z-index: 10;
}

.slideshow-wrap .slideshow-prev {
	left: 0;
}

.slideshow-wrap .slideshow-next {
	right: 0;
}

#portfolio-slideshow {
	position: relative;
}

.slide {
	margin: 0 25px;
}

#portfolio-slideshow .slide img.slide-image,
#portfolio-slideshow .slide .slide-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#portfolio-slideshow .slide img.slide-image {
}

#portfolio-slideshow .slide .slide-content {
	padding: 10px;
}

#portfolio-slideshow .slide .slide-content h3 {
	margin-top: 0;
}
*/

.project-wrap {
	border-bottom: 1px dotted black;
}
.portfolio-wrap :last-child {
	border-bottom: none;
}

.project {
}

/*********************
 * Color Scheme: MPB *
 * ================= *
 * dkgray: #797979   *
 * dkblue: #0069a3   *
 * white:  #ffffff   *
 * ltgray: #e7e7e7   *
 * ltgrn:  #add1bf   *
 * dkgrn:  #008e48   *
 *********************/

html, body {
	color: #fff;
	background-color: #000;
}

header {
}

#content {
	color: #000;
	background-color: #e7e7e7;
}

a {
	color: #0069a3;
}

a:visited {
}

header a, footer a {
}

header a:visited, footer a:visited {
}

header .logo-wrap a {
	color: #fff;
}

.wrap-outer-0 {
}

.wrap-outer-1 {
	color: #000;
	background-color: #add1bf;
}

.wrap-outer-2 {
	color: #000;
	background-color: #b7ae9d;
}

.wrap-outer-3 {
	color: #000;
	background-color: #e7e7e7;
}

#wrap-outer-footer {
	color: #fff;
	background-color: #000;
}

footer a {
	color: #accaed;
}

/**
 **/
