
header, footer, .wrap {
	width: 90%;
	max-width: 940px;
	margin: 0 auto;
	border: 0;
}

header {
	position: relative;
}

header .logo-wrap a {
	text-decoration: none;
}

header .header-secondary {
	position: absolute;
	top: 0;
	right: 0;
}

header ul.header-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header ul.header-links li {
	display: inline;
	margin: 0;
	padding: 0;
}

header .header-links .header-icon {
	height: 32px;
}

.wrap-outer {
	margin: 0;
}

.wrap-outer-1 {
}

.wrap-outer-2 {
}

.wrap-outer-3 {
}

.wrap {
	padding: 1em 0;
}
.wrap h2 {
	margin-top: 0;
}

.technology-list li {
	width: 35%;
	float: left;
}

