
html, body {
}

body {
	position: relative;
	height: 100%;
}

a {
}

a:visited {
}

header a, footer a {
}

header a:visited, footer a:visited {
}

header {
	position: relative;
}

header .logo-wrap a {
	text-decoration: none;
}

header .logo-wrap h1 {
	display: inline;
}

header .header-secondary {
	position: absolute;
	margin: 1em 0;
	top: 0;
	right: 0;
}

header ul.header-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header ul.header-links li {
	display: inline;
	margin: 0;
	padding: 0;
}

header .header-links .header-icon {
	height: 32px;
}

header, footer, .wrap {
	width: 90%;
	max-width: 940px;
	margin: 0 auto;
	border: 0;
}

.wrap-outer {
	margin: 0;
}

.wrap-outer-0 {
}

.wrap-outer-1, .wrap-outer-2, .wrap-outer-3 {
}

.wrap-outer-1 {
}

.wrap-outer-2 {
}

.wrap {
	padding: 1em 0;
}
.wrap h2 {
	margin-top: 0;
}

.technology-list li {
	width: 35%;
	float: left;
}

/*
Color Scheme: MPB
=================
dkgray: #797979
dkblue: #0069a3
white:  #ffffff
ltgray: #e7e7e7
ltgrn:  #add1bf
dkgrn:  #008e48 
*/

html, body {
	color: #000;
	background-color: #fff;
}

a {
	color: #0069a3;
}

a:visited {
	color: #accaed;
}

header a, footer a {
}

header a:visited, footer a:visited {
}

header .logo-wrap a {
	color: #585340;
}

.wrap-outer-0 {
}

.wrap-outer-1 {
	color: #000;
	background-color: #add1bf;
}

.wrap-outer-2 {
	color: #000;
	background-color: #b7ae9d;
}

.wrap-outer-3 {
	color: #000;
	background-color: #e7e7e7;
}


