
Options -MultiViews

RewriteEngine on
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(portfolio)/$ http://www.morganterry.net/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)/*$ $1.html

